body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #A0522D;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 0;
}

section h2 {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #D2691E;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.program{
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#48D1CC
}
.event {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color:#4682B4
}

footer {
    background-color: #D2691E;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}